<nav class="navbar navbar-expand-lg navbar-light"  *ngIf="isLoggedIn$ | async as isLoggedIn">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="home" >CoffeeTEK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4" [ngClass]="{active: toggleMenu}">
        <li class="nav-item"><a class="nav-link active" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="home">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="product/v1/get/products">Menu</a></li>
      </ul>
      <button mat-button (click)="onLogout()" *ngIf="isLoggedIn">Logout</button>
      <form class="d-flex">
        <div class="btn btn-outline-dark" type="submit" routerLink="cart">
          Cart
          <span class="badge text-white ms-1 rounded-pill">{{cart.cartItemList.length}}</span>
        </div>
      </form>
    </div>


    </div>
</nav>
